{
  "swagger": "2.0",
  "info": {
    "title": "API Reference",
    "description": "Review our [API Introduction](../api-introduction) to get started.",
    "version": "1.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "PublicApiService"
    },
    {
      "name": "Organizations",
      "description": "An Organization is the highest level of hierarchy in Turnkey. It can contain many Users, Private Keys, and Policies managed by a Root Quorum. The Root Quorum consists of a set of Users with a consensus threshold. This consensus threshold must be reached by Quorum members in order for any actions to take place.\n\nSee [Root Quorum](../managing-users/root-quorum) for more information"
    },
    {
      "name": "Invitations",
      "description": "Invitations allow you to invite Users into your Organization via email. Alternatively, Users can be added directly without an Invitation if their ApiKey or Authenticator credentials are known ahead of time.\n\nSee [Users](./api#tag/Users) for more information"
    },
    {
      "name": "Policies",
      "description": "Policies allow for deep customization of the security of your Organization. They can be used to grant permissions or restrict usage of Users and Private Keys. The Policy Engine analyzes all of your Policies on each request to determine whether an Activity is allowed.\n\nSee [Policy Overview](../managing-policies/overview) for more information"
    },
    {
      "name": "Private Keys",
      "description": "Private Keys are cryptographic public / private key pairs that can be used for cryptocurrency needs or more generalized encryption. Think of Private Keys as your own programmable wallet. Turnkey securely holds all Private Key materials for you, but only you can access them."
    },
    {
      "name": "Private Key Tags",
      "description": "Private Key Tags allow you to easily group and permission Private Keys through Policies."
    },
    {
      "name": "Users",
      "description": "Users are responsible for any action taken within an Organization. They can have ApiKey or Auuthenticator credentials, allowing you to onboard teammates to the Organization, or create API-only Users to run as part of your infrastructure."
    },
    {
      "name": "User Tags",
      "description": "User Key Tags allow you to easily group and permission Users through Policies."
    },
    {
      "name": "Authenticators",
      "description": "Authenticators are WebAuthN hardware devices, such as a Macbook TouchID or Yubikey, that can be used to authenticate requests."
    },
    {
      "name": "API Keys",
      "description": "API Keys are used to authenticate requests\n\nSee our [CLI](https://github.com/tkhq/tkcli) for instructions on generating API Keys"
    },
    {
      "name": "Activities",
      "description": "Activities encapsulate all the possible actions that can be taken with Turnkey. Some examples include adding a new user, creating a private key, and signing a transaction.\n\nActivities that modify your Organization are processed asynchronously. To confirm processing is complete and retrieve the Activity results, these activities must be polled until that status has been updated to a finalized state: `COMPLETED` when the activity is successful or `FAILED` when the activity has failed"
    },
    {
      "name": "Consensus",
      "description": "Policies can enforce consensus requirements for Activities. For example, adding a new user requires two admins to approve the request.\n\nActivities that have been proposed, but don't yet meet the Consesnsus requirements will have the status: `REQUIRES_CONSENSUS`. Activities in this state can be approved or rejected using the unique fingerprint generated when an Activity is created."
    }
  ],
  "host": "api.turnkey.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/public/v1/query/get_activity": {
      "post": {
        "summary": "Get Activity",
        "description": "Get details about an Activity",
        "operationId": "PublicApiService_GetActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetActivityRequest"
            }
          }
        ],
        "tags": ["Activities"]
      }
    },
    "/public/v1/query/get_authenticator": {
      "post": {
        "summary": "Get Authenticator",
        "description": "Get details about an authenticator",
        "operationId": "PublicApiService_GetAuthenticator",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthenticatorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetAuthenticatorRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/query/get_authenticators": {
      "post": {
        "summary": "Get Authenticators",
        "description": "Get details about authenticators for a user",
        "operationId": "PublicApiService_GetAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthenticatorsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/query/get_organization": {
      "post": {
        "summary": "Get Organization",
        "description": "Get details about an Organization",
        "operationId": "PublicApiService_GetOrganization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetOrganizationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetOrganizationRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/query/get_policy": {
      "post": {
        "summary": "Get Policy",
        "description": "Get details about a Policy",
        "operationId": "PublicApiService_GetPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetPolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/get_private_key": {
      "post": {
        "summary": "Get Private Key",
        "description": "Get details about a Private Key",
        "operationId": "PublicApiService_GetPrivateKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetPrivateKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetPrivateKeyRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/query/get_user": {
      "post": {
        "summary": "Get User",
        "description": "Get details about a User",
        "operationId": "PublicApiService_GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetUserResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetUserRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/query/list_activities": {
      "post": {
        "summary": "List Activities",
        "description": "List all Activities within an Organization",
        "operationId": "PublicApiService_GetActivities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetActivitiesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetActivitiesRequest"
            }
          }
        ],
        "tags": ["Activities"]
      }
    },
    "/public/v1/query/list_policies": {
      "post": {
        "summary": "List Policies",
        "description": "List all Policies within an Organization",
        "operationId": "PublicApiService_GetPolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetPoliciesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetPoliciesRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/query/list_private_keys": {
      "post": {
        "summary": "List Private Keys",
        "description": "List all Private Keys within an Organization",
        "operationId": "PublicApiService_GetPrivateKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetPrivateKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetPrivateKeysRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/query/list_users": {
      "post": {
        "summary": "List Users",
        "description": "List all Users within an Organization",
        "operationId": "PublicApiService_GetUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetUsersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/query/whoami": {
      "post": {
        "summary": "Who am I?",
        "description": "Get basic information about your current API or WebAuthN user and their organization. Affords Sub-Organization look ups via Parent Organization for WebAuthN users.",
        "operationId": "PublicApiService_GetWhoami",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetWhoamiResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GetWhoamiRequest"
            }
          }
        ],
        "tags": ["Who am I?"]
      }
    },
    "/public/v1/submit/approve_activity": {
      "post": {
        "summary": "Approve Activity",
        "description": "Approve an Activity",
        "operationId": "PublicApiService_ApproveActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ApproveActivityRequest"
            }
          }
        ],
        "tags": ["Consensus"]
      }
    },
    "/public/v1/submit/create_api_keys": {
      "post": {
        "summary": "Create API Keys",
        "description": "Add api keys to an existing User",
        "operationId": "PublicApiService_CreateApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateApiKeysRequest"
            }
          }
        ],
        "tags": ["API Keys"]
      }
    },
    "/public/v1/submit/create_api_only_users": {
      "post": {
        "summary": "Create API-only Users",
        "description": "Create API-only Users in an existing Organization",
        "operationId": "PublicApiService_CreateApiOnlyUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateApiOnlyUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/submit/create_authenticators": {
      "post": {
        "summary": "Create Authenticators",
        "description": "Create Authenticators to authenticate requests to Turnkey",
        "operationId": "PublicApiService_CreateAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/submit/create_invitations": {
      "post": {
        "summary": "Create Invitations",
        "description": "Create Invitations to join an existing Organization",
        "operationId": "PublicApiService_CreateInvitations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateInvitationsRequest"
            }
          }
        ],
        "tags": ["Invitations"]
      }
    },
    "/public/v1/submit/create_policy": {
      "post": {
        "summary": "Create Policy",
        "description": "Create a new Policy",
        "operationId": "PublicApiService_CreatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreatePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/create_private_key_tag": {
      "post": {
        "summary": "Create Private Key Tag",
        "description": "Create a private key tag and add it to private keys.",
        "operationId": "PublicApiService_CreatePrivateKeyTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreatePrivateKeyTagRequest"
            }
          }
        ],
        "tags": ["Private Key Tags"]
      }
    },
    "/public/v1/submit/create_private_keys": {
      "post": {
        "summary": "Create Private Keys",
        "description": "Create new Private Keys",
        "operationId": "PublicApiService_CreatePrivateKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreatePrivateKeysRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/create_sub_organization": {
      "post": {
        "summary": "Create Sub-Organization",
        "description": "Create a new Sub-Organization",
        "operationId": "PublicApiService_CreateSubOrganization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateSubOrganizationRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/create_user_tag": {
      "post": {
        "summary": "Create User Tag",
        "description": "Create a user tag and add it to users.",
        "operationId": "PublicApiService_CreateUserTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateUserTagRequest"
            }
          }
        ],
        "tags": ["User Tags"]
      }
    },
    "/public/v1/submit/create_users": {
      "post": {
        "summary": "Create Users",
        "description": "Create Users in an existing Organization",
        "operationId": "PublicApiService_CreateUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateUsersRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/submit/delete_api_keys": {
      "post": {
        "summary": "Delete API Keys",
        "description": "Remove api keys from a User",
        "operationId": "PublicApiService_DeleteApiKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeleteApiKeysRequest"
            }
          }
        ],
        "tags": ["API Keys"]
      }
    },
    "/public/v1/submit/delete_authenticators": {
      "post": {
        "summary": "Delete Authenticators",
        "description": "Remove authenticators from a User",
        "operationId": "PublicApiService_DeleteAuthenticators",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeleteAuthenticatorsRequest"
            }
          }
        ],
        "tags": ["Authenticators"]
      }
    },
    "/public/v1/submit/delete_invitations": {
      "post": {
        "summary": "Delete Invitation",
        "description": "Delete an existing Invitation",
        "operationId": "PublicApiService_DeleteInvitation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeleteInvitationRequest"
            }
          }
        ],
        "tags": ["Invitations"]
      }
    },
    "/public/v1/submit/delete_policy": {
      "post": {
        "summary": "Delete Policy",
        "description": "Delete an existing Policy",
        "operationId": "PublicApiService_DeletePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DeletePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/reject_activity": {
      "post": {
        "summary": "Reject Activity",
        "description": "Reject an Activity",
        "operationId": "PublicApiService_RejectActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1RejectActivityRequest"
            }
          }
        ],
        "tags": ["Consensus"]
      }
    },
    "/public/v1/submit/sign_raw_payload": {
      "post": {
        "summary": "Sign Raw Payload",
        "description": "Sign a raw payload with a Private Key",
        "operationId": "PublicApiService_SignRawPayload",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1SignRawPayloadRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/sign_transaction": {
      "post": {
        "summary": "Sign Transaction",
        "description": "Sign a transaction with a Private Key",
        "operationId": "PublicApiService_SignTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1SignTransactionRequest"
            }
          }
        ],
        "tags": ["Private Keys"]
      }
    },
    "/public/v1/submit/update_allowed_origins": {
      "post": {
        "summary": "Update Allowable Origins",
        "description": "Update the allowable origins for credentials and requests",
        "operationId": "PublicApiService_UpdateAllowedOrigins",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateAllowedOriginsRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/update_policy": {
      "post": {
        "summary": "Update Policy",
        "description": "Update an existing Policy",
        "operationId": "PublicApiService_UpdatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdatePolicyRequest"
            }
          }
        ],
        "tags": ["Policies"]
      }
    },
    "/public/v1/submit/update_private_key_tag": {
      "post": {
        "summary": "Update Private Key Tag",
        "description": "Update human-readable name or associated private keys. Note that this activity is atomic: all of the updates will succeed at once, or all of them will fail.",
        "operationId": "PublicApiService_UpdatePrivateKeyTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdatePrivateKeyTagRequest"
            }
          }
        ],
        "tags": ["Private Key Tags"]
      }
    },
    "/public/v1/submit/update_root_quorum": {
      "post": {
        "summary": "Update Root Quorum",
        "description": "Set the threshold and members of the root quorum. This must be approved by the current root quorum.",
        "operationId": "PublicApiService_UpdateRootQuorum",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateRootQuorumRequest"
            }
          }
        ],
        "tags": ["Organizations"]
      }
    },
    "/public/v1/submit/update_user": {
      "post": {
        "summary": "Update User",
        "description": "Update a User in an existing Organization",
        "operationId": "PublicApiService_UpdateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateUserRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/public/v1/submit/update_user_tag": {
      "post": {
        "summary": "Update User Tag",
        "description": "Update human-readable name or associated users. Note that this activity is atomic: all of the updates will succeed at once, or all of them will fail.",
        "operationId": "PublicApiService_UpdateUserTag",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpdateUserTagRequest"
            }
          }
        ],
        "tags": ["User Tags"]
      }
    },
    "/tkhq/api/v1/noop-codegen-anchor": {
      "post": {
        "operationId": "PublicApiService_NOOPCodegenAnchor",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1NOOPCodegenAnchorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": ["PublicApiService"]
      }
    }
  },
  "definitions": {
    "datav1Tag": {
      "type": "object",
      "properties": {
        "tagId": {
          "type": "string",
          "description": "Unique identifier for a given Tag."
        },
        "tagName": {
          "type": "string",
          "description": "Human-readable name for a Tag."
        },
        "tagType": {
          "$ref": "#/definitions/v1TagType"
        },
        "createdAt": {
          "$ref": "#/definitions/v1Timestamp"
        },
        "updatedAt": {
          "$ref": "#/definitions/v1Timestamp"
        }
      },
      "required": ["tagId", "tagName", "tagType", "createdAt", "updatedAt"]
    },
    "externaldatav1AccessType": {
      "type": "string",
      "enum": ["ACCESS_TYPE_WEB", "ACCESS_TYPE_API", "ACCESS_TYPE_ALL"]
    },
    "externaldatav1Address": {
      "type": "object",
      "properties": {
        "format": {
          "$ref": "#/definitions/externaldatav1AddressFormat"
        },
        "address": {
          "type": "string"
        }
      }
    },
    "externaldatav1AddressFormat": {
      "type": "string",
      "enum": [
        "ADDRESS_FORMAT_UNCOMPRESSED",
        "ADDRESS_FORMAT_COMPRESSED",
        "ADDRESS_FORMAT_ETHEREUM"
      ]
    },
    "externaldatav1AuthenticatorTransport": {
      "type": "string",
      "enum": [
        "AUTHENTICATOR_TRANSPORT_BLE",
        "AUTHENTICATOR_TRANSPORT_INTERNAL",
        "AUTHENTICATOR_TRANSPORT_NFC",
        "AUTHENTICATOR_TRANSPORT_USB",
        "AUTHENTICATOR_TRANSPORT_HYBRID"
      ]
    },
    "externaldatav1Curve": {
      "type": "string",
      "enum": ["CURVE_SECP256K1", "CURVE_ED25519"]
    },
    "externaldatav1Effect": {
      "type": "string",
      "enum": ["EFFECT_ALLOW", "EFFECT_DENY"]
    },
    "externaldatav1Operator": {
      "type": "string",
      "enum": [
        "OPERATOR_EQUAL",
        "OPERATOR_MORE_THAN",
        "OPERATOR_MORE_THAN_OR_EQUAL",
        "OPERATOR_LESS_THAN",
        "OPERATOR_LESS_THAN_OR_EQUAL",
        "OPERATOR_CONTAINS",
        "OPERATOR_NOT_EQUAL",
        "OPERATOR_IN",
        "OPERATOR_NOT_IN",
        "OPERATOR_CONTAINS_ONE",
        "OPERATOR_CONTAINS_ALL"
      ]
    },
    "externaldatav1Selector": {
      "type": "object",
      "properties": {
        "subject": {
          "type": "string",
          "description": "The resource being referenced within a policy (e.g., user.tags or activities.type)."
        },
        "operator": {
          "$ref": "#/definitions/externaldatav1Operator",
          "description": "Logical operators like OPERATOR_CONTAINS or OPERATOR_EQUAL."
        },
        "targets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The specific parameter from the subject being referenced, like a specific user ID."
        }
      },
      "required": ["subject", "operator", "targets"]
    },
    "immutableactivityv1AccessType": {
      "type": "string",
      "enum": ["ACCESS_TYPE_WEB", "ACCESS_TYPE_API", "ACCESS_TYPE_ALL"]
    },
    "immutableactivityv1Address": {
      "type": "object",
      "properties": {
        "format": {
          "$ref": "#/definitions/immutableactivityv1AddressFormat"
        },
        "address": {
          "type": "string"
        }
      }
    },
    "immutableactivityv1AddressFormat": {
      "type": "string",
      "enum": [
        "ADDRESS_FORMAT_UNCOMPRESSED",
        "ADDRESS_FORMAT_COMPRESSED",
        "ADDRESS_FORMAT_ETHEREUM"
      ]
    },
    "immutableactivityv1Curve": {
      "type": "string",
      "enum": ["CURVE_SECP256K1", "CURVE_ED25519"]
    },
    "immutableactivityv1Effect": {
      "type": "string",
      "enum": ["EFFECT_ALLOW", "EFFECT_DENY"]
    },
    "immutableactivityv1Operator": {
      "type": "string",
      "enum": [
        "OPERATOR_EQUAL",
        "OPERATOR_MORE_THAN",
        "OPERATOR_MORE_THAN_OR_EQUAL",
        "OPERATOR_LESS_THAN",
        "OPERATOR_LESS_THAN_OR_EQUAL",
        "OPERATOR_CONTAINS",
        "OPERATOR_NOT_EQUAL",
        "OPERATOR_IN",
        "OPERATOR_NOT_IN",
        "OPERATOR_CONTAINS_ONE",
        "OPERATOR_CONTAINS_ALL"
      ]
    },
    "immutableactivityv1Selector": {
      "type": "object",
      "properties": {
        "subject": {
          "type": "string"
        },
        "operator": {
          "$ref": "#/definitions/immutableactivityv1Operator"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "immutableactivityv1TransactionType": {
      "type": "string",
      "enum": ["TRANSACTION_TYPE_ETHEREUM"]
    },
    "immutablewebauthnv1AuthenticatorTransport": {
      "type": "string",
      "enum": [
        "AUTHENTICATOR_TRANSPORT_BLE",
        "AUTHENTICATOR_TRANSPORT_INTERNAL",
        "AUTHENTICATOR_TRANSPORT_NFC",
        "AUTHENTICATOR_TRANSPORT_USB",
        "AUTHENTICATOR_TRANSPORT_HYBRID"
      ]
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1AcceptInvitationIntent": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation object."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "authenticator": {
          "$ref": "#/definitions/v1AuthenticatorParams",
          "description": "WebAuthN hardware devices that can be used to log in to the Turnkey web app."
        }
      },
      "required": ["invitationId", "userId", "authenticator"]
    },
    "v1AcceptInvitationIntentV2": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation object."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "authenticator": {
          "$ref": "#/definitions/v1AuthenticatorParamsV2",
          "description": "WebAuthN hardware devices that can be used to log in to the Turnkey web app."
        }
      },
      "required": ["invitationId", "userId", "authenticator"]
    },
    "v1AcceptInvitationResult": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["invitationId", "userId"]
    },
    "v1ActivateBillingTierIntent": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The product that the customer wants to subscribe to."
        }
      },
      "required": ["productId"]
    },
    "v1ActivateBillingTierResult": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The id of the product being subscribed to."
        }
      },
      "required": ["productId"]
    },
    "v1Activity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for a given Activity object."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "status": {
          "$ref": "#/definitions/v1ActivityStatus",
          "description": "The current processing status of a specified Activity."
        },
        "type": {
          "$ref": "#/definitions/v1ActivityType",
          "description": "Type of Activity, such as Add User, or Sign Transaction."
        },
        "intent": {
          "$ref": "#/definitions/v1Intent",
          "description": "Intent object crafted by Turnkey based on the user request, used to assess the permissibility of an action."
        },
        "result": {
          "$ref": "#/definitions/v1Result",
          "description": "Result of the intended action."
        },
        "votes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Vote"
          },
          "description": "A list of objects representing a particular User's approval or rejection of a Consensus request, including all relevant metadata."
        },
        "fingerprint": {
          "type": "string",
          "description": "An artifact verifying a User's action."
        },
        "canApprove": {
          "type": "boolean"
        },
        "canReject": {
          "type": "boolean"
        },
        "createdAt": {
          "$ref": "#/definitions/v1Timestamp"
        },
        "updatedAt": {
          "$ref": "#/definitions/v1Timestamp"
        }
      },
      "required": [
        "id",
        "organizationId",
        "status",
        "type",
        "intent",
        "result",
        "votes",
        "fingerprint",
        "canApprove",
        "canReject",
        "createdAt",
        "updatedAt"
      ]
    },
    "v1ActivityResponse": {
      "type": "object",
      "properties": {
        "activity": {
          "$ref": "#/definitions/v1Activity",
          "description": "An action that can that can be taken within the Turnkey infrastructure."
        }
      },
      "required": ["activity"]
    },
    "v1ActivityStatus": {
      "type": "string",
      "enum": [
        "ACTIVITY_STATUS_CREATED",
        "ACTIVITY_STATUS_PENDING",
        "ACTIVITY_STATUS_COMPLETED",
        "ACTIVITY_STATUS_FAILED",
        "ACTIVITY_STATUS_CONSENSUS_NEEDED",
        "ACTIVITY_STATUS_REJECTED"
      ]
    },
    "v1ActivityType": {
      "type": "string",
      "enum": [
        "ACTIVITY_TYPE_CREATE_API_KEYS",
        "ACTIVITY_TYPE_CREATE_USERS",
        "ACTIVITY_TYPE_CREATE_PRIVATE_KEYS",
        "ACTIVITY_TYPE_SIGN_RAW_PAYLOAD",
        "ACTIVITY_TYPE_CREATE_INVITATIONS",
        "ACTIVITY_TYPE_ACCEPT_INVITATION",
        "ACTIVITY_TYPE_CREATE_POLICY",
        "ACTIVITY_TYPE_DISABLE_PRIVATE_KEY",
        "ACTIVITY_TYPE_DELETE_USERS",
        "ACTIVITY_TYPE_DELETE_API_KEYS",
        "ACTIVITY_TYPE_DELETE_INVITATION",
        "ACTIVITY_TYPE_DELETE_ORGANIZATION",
        "ACTIVITY_TYPE_DELETE_POLICY",
        "ACTIVITY_TYPE_CREATE_USER_TAG",
        "ACTIVITY_TYPE_DELETE_USER_TAGS",
        "ACTIVITY_TYPE_CREATE_ORGANIZATION",
        "ACTIVITY_TYPE_SIGN_TRANSACTION",
        "ACTIVITY_TYPE_APPROVE_ACTIVITY",
        "ACTIVITY_TYPE_REJECT_ACTIVITY",
        "ACTIVITY_TYPE_DELETE_AUTHENTICATORS",
        "ACTIVITY_TYPE_CREATE_AUTHENTICATORS",
        "ACTIVITY_TYPE_CREATE_PRIVATE_KEY_TAG",
        "ACTIVITY_TYPE_DELETE_PRIVATE_KEY_TAGS",
        "ACTIVITY_TYPE_SET_PAYMENT_METHOD",
        "ACTIVITY_TYPE_ACTIVATE_BILLING_TIER",
        "ACTIVITY_TYPE_DELETE_PAYMENT_METHOD",
        "ACTIVITY_TYPE_CREATE_POLICY_V2",
        "ACTIVITY_TYPE_CREATE_POLICY_V3",
        "ACTIVITY_TYPE_CREATE_API_ONLY_USERS",
        "ACTIVITY_TYPE_UPDATE_ROOT_QUORUM",
        "ACTIVITY_TYPE_UPDATE_USER_TAG",
        "ACTIVITY_TYPE_UPDATE_PRIVATE_KEY_TAG",
        "ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2",
        "ACTIVITY_TYPE_CREATE_ORGANIZATION_V2",
        "ACTIVITY_TYPE_CREATE_USERS_V2",
        "ACTIVITY_TYPE_ACCEPT_INVITATION_V2",
        "ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION",
        "ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V2",
        "ACTIVITY_TYPE_UPDATE_ALLOWED_ORIGINS",
        "ACTIVITY_TYPE_CREATE_PRIVATE_KEYS_V2",
        "ACTIVITY_TYPE_UPDATE_USER",
        "ACTIVITY_TYPE_UPDATE_POLICY",
        "ACTIVITY_TYPE_SET_PAYMENT_METHOD_V2",
        "ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V3"
      ]
    },
    "v1ApiKey": {
      "type": "object",
      "properties": {
        "credential": {
          "$ref": "#/definitions/v1Credential",
          "description": "A User credential that can be used to authenticate to Turnkey."
        },
        "apiKeyId": {
          "type": "string",
          "description": "Unique identifier for a given API Key."
        },
        "apiKeyName": {
          "type": "string",
          "description": "Human-readable name for an API Key."
        },
        "createdAt": {
          "$ref": "#/definitions/v1Timestamp"
        },
        "updatedAt": {
          "$ref": "#/definitions/v1Timestamp"
        }
      },
      "required": [
        "credential",
        "apiKeyId",
        "apiKeyName",
        "createdAt",
        "updatedAt"
      ]
    },
    "v1ApiKeyParams": {
      "type": "object",
      "properties": {
        "apiKeyName": {
          "type": "string",
          "description": "Human-readable name for an API Key."
        },
        "publicKey": {
          "type": "string",
          "description": "The public component of a cryptographic key pair used to sign messages and transactions."
        }
      },
      "required": ["apiKeyName", "publicKey"]
    },
    "v1ApiOnlyUserParams": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "The name of the new API-only User."
        },
        "userEmail": {
          "type": "string",
          "description": "The email address for this API-only User (optional)."
        },
        "userTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of tags assigned to the new API-only User."
        },
        "apiKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ApiKeyParams"
          },
          "description": "A list of API Key parameters."
        }
      },
      "required": ["userName", "userTags", "apiKeys"]
    },
    "v1ApproveActivityIntent": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "An artifact verifying a User's action."
        }
      },
      "required": ["fingerprint"]
    },
    "v1ApproveActivityRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_APPROVE_ACTIVITY"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1ApproveActivityIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1Attestation": {
      "type": "object",
      "properties": {
        "credentialId": {
          "type": "string",
          "description": "The cbor encoded then base64 url encoded id of the credential."
        },
        "clientDataJson": {
          "type": "string",
          "description": "A base64 url encoded payload containing metadata about the signing context and the challenge."
        },
        "attestationObject": {
          "type": "string",
          "description": "A base64 url encoded payload containing authenticator data and any attestation the webauthn provider chooses."
        },
        "transports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/immutablewebauthnv1AuthenticatorTransport"
          },
          "description": "The type of authenticator transports."
        }
      },
      "required": [
        "credentialId",
        "clientDataJson",
        "attestationObject",
        "transports"
      ]
    },
    "v1Authenticator": {
      "type": "object",
      "properties": {
        "transports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/externaldatav1AuthenticatorTransport"
          },
          "description": "Types of transports that may be used by an Authenticator (e.g., USB, NFC, BLE)."
        },
        "attestationType": {
          "type": "string"
        },
        "aaguid": {
          "type": "string",
          "description": "Identifier indicating the type of the Security Key."
        },
        "credentialId": {
          "type": "string",
          "description": "Unique identifier for a WebAuthn credential."
        },
        "model": {
          "type": "string",
          "description": "The type of Authenticator device."
        },
        "credential": {
          "$ref": "#/definitions/v1Credential",
          "description": "A User credential that can be used to authenticate to Turnkey."
        },
        "authenticatorId": {
          "type": "string",
          "description": "Unique identifier for a given Authenticator."
        },
        "authenticatorName": {
          "type": "string",
          "description": "Human-readable name for an Authenticator."
        },
        "createdAt": {
          "$ref": "#/definitions/v1Timestamp"
        },
        "updatedAt": {
          "$ref": "#/definitions/v1Timestamp"
        }
      },
      "required": [
        "transports",
        "attestationType",
        "aaguid",
        "credentialId",
        "model",
        "credential",
        "authenticatorId",
        "authenticatorName",
        "createdAt",
        "updatedAt"
      ]
    },
    "v1AuthenticatorAttestationResponse": {
      "type": "object",
      "properties": {
        "clientDataJson": {
          "type": "string"
        },
        "attestationObject": {
          "type": "string"
        },
        "transports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/immutablewebauthnv1AuthenticatorTransport"
          }
        },
        "authenticatorAttachment": {
          "type": "string",
          "enum": ["cross-platform", "platform"],
          "x-nullable": true
        }
      },
      "required": ["clientDataJson", "attestationObject"]
    },
    "v1AuthenticatorParams": {
      "type": "object",
      "properties": {
        "authenticatorName": {
          "type": "string",
          "description": "Human-readable name for an Authenticator."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "attestation": {
          "$ref": "#/definitions/v1PublicKeyCredentialWithAttestation"
        },
        "challenge": {
          "type": "string",
          "description": "Challenge presented for authentication purposes."
        }
      },
      "required": ["authenticatorName", "userId", "attestation", "challenge"]
    },
    "v1AuthenticatorParamsV2": {
      "type": "object",
      "properties": {
        "authenticatorName": {
          "type": "string",
          "description": "Human-readable name for an Authenticator."
        },
        "challenge": {
          "type": "string",
          "description": "Challenge presented for authentication purposes."
        },
        "attestation": {
          "$ref": "#/definitions/v1Attestation",
          "description": "The attestation that proves custody of the authenticator and provides metadata about it."
        }
      },
      "required": ["authenticatorName", "challenge", "attestation"]
    },
    "v1CreateApiKeysIntent": {
      "type": "object",
      "properties": {
        "apiKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ApiKeyParams"
          },
          "description": "A list of API Keys."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["apiKeys", "userId"]
    },
    "v1CreateApiKeysRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_API_KEYS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreateApiKeysIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreateApiKeysResult": {
      "type": "object",
      "properties": {
        "apiKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API Key IDs."
        }
      },
      "required": ["apiKeyIds"]
    },
    "v1CreateApiOnlyUsersIntent": {
      "type": "object",
      "properties": {
        "apiOnlyUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ApiOnlyUserParams"
          },
          "description": "A list of API-only Users to create."
        }
      },
      "required": ["apiOnlyUsers"]
    },
    "v1CreateApiOnlyUsersRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_API_ONLY_USERS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreateApiOnlyUsersIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreateApiOnlyUsersResult": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API-only User IDs."
        }
      },
      "required": ["userIds"]
    },
    "v1CreateAuthenticatorsIntent": {
      "type": "object",
      "properties": {
        "authenticators": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthenticatorParams"
          },
          "description": "A list of Authenticators."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["authenticators", "userId"]
    },
    "v1CreateAuthenticatorsIntentV2": {
      "type": "object",
      "properties": {
        "authenticators": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthenticatorParamsV2"
          },
          "description": "A list of Authenticators."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["authenticators", "userId"]
    },
    "v1CreateAuthenticatorsRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_AUTHENTICATORS_V2"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreateAuthenticatorsIntentV2"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreateAuthenticatorsResult": {
      "type": "object",
      "properties": {
        "authenticatorIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Authenticator IDs."
        }
      },
      "required": ["authenticatorIds"]
    },
    "v1CreateInvitationsIntent": {
      "type": "object",
      "properties": {
        "invitations": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1InvitationParams"
          },
          "description": "A list of Invitations."
        }
      },
      "required": ["invitations"]
    },
    "v1CreateInvitationsRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_INVITATIONS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreateInvitationsIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreateInvitationsResult": {
      "type": "object",
      "properties": {
        "invitationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Invitation IDs"
        }
      },
      "required": ["invitationIds"]
    },
    "v1CreateOrganizationIntent": {
      "type": "object",
      "properties": {
        "organizationName": {
          "type": "string",
          "description": "Human-readable name for an Organization."
        },
        "rootEmail": {
          "type": "string",
          "description": "The root user's email address."
        },
        "rootAuthenticator": {
          "$ref": "#/definitions/v1AuthenticatorParams",
          "description": "The root user's Authenticator."
        },
        "rootUserId": {
          "type": "string",
          "description": "Unique identifier for the root user object."
        }
      },
      "required": ["organizationName", "rootEmail", "rootAuthenticator"]
    },
    "v1CreateOrganizationIntentV2": {
      "type": "object",
      "properties": {
        "organizationName": {
          "type": "string",
          "description": "Human-readable name for an Organization."
        },
        "rootEmail": {
          "type": "string",
          "description": "The root user's email address."
        },
        "rootAuthenticator": {
          "$ref": "#/definitions/v1AuthenticatorParamsV2",
          "description": "The root user's Authenticator."
        },
        "rootUserId": {
          "type": "string",
          "description": "Unique identifier for the root user object."
        }
      },
      "required": ["organizationName", "rootEmail", "rootAuthenticator"]
    },
    "v1CreateOrganizationResult": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "v1CreatePolicyIntent": {
      "type": "object",
      "properties": {
        "policyName": {
          "type": "string",
          "description": "Human-readable name for a Policy."
        },
        "selectors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/immutableactivityv1Selector"
          },
          "description": "A list of simple functions each including a subject, target and boolean. See Policy Engine Language section for additional details."
        },
        "effect": {
          "$ref": "#/definitions/immutableactivityv1Effect",
          "description": "The instruction to DENY or ALLOW a particular activity following policy selector(s)."
        },
        "notes": {
          "type": "string"
        }
      },
      "required": ["policyName", "selectors", "effect"]
    },
    "v1CreatePolicyIntentV2": {
      "type": "object",
      "properties": {
        "policyName": {
          "type": "string",
          "description": "Human-readable name for a Policy."
        },
        "selectors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1SelectorV2"
          },
          "description": "A list of simple functions each including a subject, target and boolean. See Policy Engine Language section for additional details."
        },
        "effect": {
          "$ref": "#/definitions/immutableactivityv1Effect",
          "description": "Whether to ALLOW or DENY requests that match the condition and consensus requirements."
        },
        "notes": {
          "type": "string"
        }
      },
      "required": ["policyName", "selectors", "effect"]
    },
    "v1CreatePolicyIntentV3": {
      "type": "object",
      "properties": {
        "policyName": {
          "type": "string",
          "description": "Human-readable name for a Policy."
        },
        "effect": {
          "$ref": "#/definitions/immutableactivityv1Effect",
          "description": "The instruction to DENY or ALLOW an activity."
        },
        "condition": {
          "type": "string",
          "description": "The condition expression that triggers the Effect"
        },
        "consensus": {
          "type": "string",
          "description": "The consensus expression that triggers the Effect"
        },
        "notes": {
          "type": "string"
        }
      },
      "required": ["policyName", "effect"]
    },
    "v1CreatePolicyRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_POLICY_V3"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreatePolicyIntentV3"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreatePolicyResult": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["policyId"]
    },
    "v1CreatePrivateKeyTagIntent": {
      "type": "object",
      "properties": {
        "privateKeyTagName": {
          "type": "string",
          "description": "Human-readable name for a Private Key Tag."
        },
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyTagName", "privateKeyIds"]
    },
    "v1CreatePrivateKeyTagRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_PRIVATE_KEY_TAG"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreatePrivateKeyTagIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreatePrivateKeyTagResult": {
      "type": "object",
      "properties": {
        "privateKeyTagId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key Tag."
        },
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyTagId", "privateKeyIds"]
    },
    "v1CreatePrivateKeysIntent": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1PrivateKeyParams"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": ["privateKeys"]
    },
    "v1CreatePrivateKeysIntentV2": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1PrivateKeyParams"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": ["privateKeys"]
    },
    "v1CreatePrivateKeysRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_PRIVATE_KEYS_V2"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreatePrivateKeysIntentV2"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreatePrivateKeysResult": {
      "type": "object",
      "properties": {
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyIds"]
    },
    "v1CreatePrivateKeysResultV2": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1PrivateKeyResult"
          },
          "description": "A list of Private Key IDs and addresses."
        }
      },
      "required": ["privateKeys"]
    },
    "v1CreateSubOrganizationIntent": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name for this sub-organization"
        },
        "rootAuthenticator": {
          "$ref": "#/definitions/v1AuthenticatorParamsV2",
          "description": "Root User authenticator for this new sub-organization"
        }
      },
      "required": ["name", "rootAuthenticator"]
    },
    "v1CreateSubOrganizationIntentV2": {
      "type": "object",
      "properties": {
        "subOrganizationName": {
          "type": "string",
          "description": "Name for this sub-organization"
        },
        "rootUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1RootUserParams"
          },
          "description": "Root users to create within this sub-organization"
        },
        "rootQuorumThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The threshold of unique approvals to reach root quorum. This value must be less than or equal to the number of root users"
        }
      },
      "required": ["subOrganizationName", "rootUsers", "rootQuorumThreshold"]
    },
    "v1CreateSubOrganizationIntentV3": {
      "type": "object",
      "properties": {
        "subOrganizationName": {
          "type": "string",
          "description": "Name for this sub-organization"
        },
        "rootUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1RootUserParams"
          },
          "description": "Root users to create within this sub-organization"
        },
        "rootQuorumThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The threshold of unique approvals to reach root quorum. This value must be less than or equal to the number of root users"
        },
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1PrivateKeyParams"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": [
        "subOrganizationName",
        "rootUsers",
        "rootQuorumThreshold",
        "privateKeys"
      ]
    },
    "v1CreateSubOrganizationRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_SUB_ORGANIZATION_V3"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreateSubOrganizationIntentV3"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreateSubOrganizationResult": {
      "type": "object",
      "properties": {
        "subOrganizationId": {
          "type": "string"
        }
      },
      "required": ["subOrganizationId"]
    },
    "v1CreateSubOrganizationResultV3": {
      "type": "object",
      "properties": {
        "subOrganizationId": {
          "type": "string"
        },
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1PrivateKeyResult"
          },
          "description": "A list of Private Key IDs and addresses."
        }
      },
      "required": ["subOrganizationId", "privateKeys"]
    },
    "v1CreateUserTagIntent": {
      "type": "object",
      "properties": {
        "userTagName": {
          "type": "string",
          "description": "Human-readable name for a User Tag."
        },
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userTagName", "userIds"]
    },
    "v1CreateUserTagRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_USER_TAG"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreateUserTagIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreateUserTagResult": {
      "type": "object",
      "properties": {
        "userTagId": {
          "type": "string",
          "description": "Unique identifier for a given User Tag."
        },
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userTagId", "userIds"]
    },
    "v1CreateUsersIntent": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1UserParams"
          },
          "description": "A list of Users."
        }
      },
      "required": ["users"]
    },
    "v1CreateUsersIntentV2": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1UserParamsV2"
          },
          "description": "A list of Users."
        }
      },
      "required": ["users"]
    },
    "v1CreateUsersRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_CREATE_USERS_V2"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1CreateUsersIntentV2"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1CreateUsersResult": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userIds"]
    },
    "v1CredPropsAuthenticationExtensionsClientOutputs": {
      "type": "object",
      "properties": {
        "rk": {
          "type": "boolean"
        }
      },
      "required": ["rk"]
    },
    "v1Credential": {
      "type": "object",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "The public component of a cryptographic key pair used to sign messages and transactions."
        },
        "type": {
          "$ref": "#/definitions/v1CredentialType"
        }
      },
      "required": ["publicKey", "type"]
    },
    "v1CredentialType": {
      "type": "string",
      "enum": [
        "CREDENTIAL_TYPE_WEBAUTHN_AUTHENTICATOR",
        "CREDENTIAL_TYPE_API_KEY_P256"
      ]
    },
    "v1DeleteApiKeysIntent": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "apiKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API Key IDs."
        }
      },
      "required": ["userId", "apiKeyIds"]
    },
    "v1DeleteApiKeysRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_API_KEYS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1DeleteApiKeysIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1DeleteApiKeysResult": {
      "type": "object",
      "properties": {
        "apiKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of API Key IDs."
        }
      },
      "required": ["apiKeyIds"]
    },
    "v1DeleteAuthenticatorsIntent": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "authenticatorIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Authenticator IDs."
        }
      },
      "required": ["userId", "authenticatorIds"]
    },
    "v1DeleteAuthenticatorsRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_AUTHENTICATORS"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1DeleteAuthenticatorsIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1DeleteAuthenticatorsResult": {
      "type": "object",
      "properties": {
        "authenticatorIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unique identifier for a given Authenticator."
        }
      },
      "required": ["authenticatorIds"]
    },
    "v1DeleteInvitationIntent": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation object."
        }
      },
      "required": ["invitationId"]
    },
    "v1DeleteInvitationRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_INVITATION"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1DeleteInvitationIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1DeleteInvitationResult": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for a given Invitation."
        }
      },
      "required": ["invitationId"]
    },
    "v1DeleteOrganizationIntent": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "v1DeleteOrganizationResult": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "v1DeletePaymentMethodIntent": {
      "type": "object",
      "properties": {
        "paymentMethodId": {
          "type": "string",
          "description": "The payment method that the customer wants to remove."
        }
      },
      "required": ["paymentMethodId"]
    },
    "v1DeletePaymentMethodResult": {
      "type": "object",
      "properties": {
        "paymentMethodId": {
          "type": "string",
          "description": "The payment method that was removed."
        }
      },
      "required": ["paymentMethodId"]
    },
    "v1DeletePolicyIntent": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["policyId"]
    },
    "v1DeletePolicyRequest": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["ACTIVITY_TYPE_DELETE_POLICY"]
        },
        "timestampMs": {
          "type": "string",
          "description": "Timestamp (in milliseconds) of the request, used to verify liveness of user requests."
        },
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "parameters": {
          "$ref": "#/definitions/v1DeletePolicyIntent"
        }
      },
      "required": ["type", "timestampMs", "organizationId", "parameters"]
    },
    "v1DeletePolicyResult": {
      "type": "object",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["policyId"]
    },
    "v1DeletePrivateKeyTagsIntent": {
      "type": "object",
      "properties": {
        "privateKeyTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key Tag IDs."
        }
      },
      "required": ["privateKeyTagIds"]
    },
    "v1DeletePrivateKeyTagsResult": {
      "type": "object",
      "properties": {
        "privateKeyTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key Tag IDs."
        },
        "privateKeyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Private Key IDs."
        }
      },
      "required": ["privateKeyTagIds", "privateKeyIds"]
    },
    "v1DeleteUserTagsIntent": {
      "type": "object",
      "properties": {
        "userTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User Tag IDs."
        }
      },
      "required": ["userTagIds"]
    },
    "v1DeleteUserTagsResult": {
      "type": "object",
      "properties": {
        "userTagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User Tag IDs."
        },
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userTagIds", "userIds"]
    },
    "v1DeleteUsersIntent": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userIds"]
    },
    "v1DeleteUsersResult": {
      "type": "object",
      "properties": {
        "userIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of User IDs."
        }
      },
      "required": ["userIds"]
    },
    "v1DisablePrivateKeyIntent": {
      "type": "object",
      "properties": {
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        }
      },
      "required": ["privateKeyId"]
    },
    "v1DisablePrivateKeyResult": {
      "type": "object",
      "properties": {
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        }
      },
      "required": ["privateKeyId"]
    },
    "v1GetActivitiesRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "filterByStatus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ActivityStatus"
          },
          "description": "Array of Activity Statuses filtering which Activities will be listed in the response."
        },
        "paginationOptions": {
          "$ref": "#/definitions/v1Pagination",
          "description": "Parameters used for cursor-based pagination."
        },
        "filterByType": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ActivityType"
          },
          "description": "Array of Activity Types filtering which Activities will be listed in the response."
        }
      },
      "required": ["organizationId"]
    },
    "v1GetActivitiesResponse": {
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Activity"
          },
          "description": "A list of Activities."
        }
      },
      "required": ["activities"]
    },
    "v1GetActivityRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "activityId": {
          "type": "string",
          "description": "Unique identifier for a given Activity object."
        }
      },
      "required": ["organizationId", "activityId"]
    },
    "v1GetAuthenticatorRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "authenticatorId": {
          "type": "string",
          "description": "Unique identifier for a given Authenticator."
        }
      },
      "required": ["organizationId", "authenticatorId"]
    },
    "v1GetAuthenticatorResponse": {
      "type": "object",
      "properties": {
        "authenticator": {
          "$ref": "#/definitions/v1Authenticator",
          "description": "An authenticator."
        }
      },
      "required": ["authenticator"]
    },
    "v1GetAuthenticatorsRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["organizationId", "userId"]
    },
    "v1GetAuthenticatorsResponse": {
      "type": "object",
      "properties": {
        "authenticators": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Authenticator"
          },
          "description": "A list of authenticators."
        }
      },
      "required": ["authenticators"]
    },
    "v1GetOrganizationRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "v1GetOrganizationResponse": {
      "type": "object",
      "properties": {
        "organizationData": {
          "$ref": "#/definitions/v1OrganizationData",
          "description": "Object representing the full current and deleted / disabled collection of Users, Policies, Private Keys, and Invitations attributable to a particular Organization."
        }
      },
      "required": ["organizationData"]
    },
    "v1GetPoliciesRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "v1GetPoliciesResponse": {
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Policy"
          },
          "description": "A list of Policies."
        }
      },
      "required": ["policies"]
    },
    "v1GetPolicyRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "policyId": {
          "type": "string",
          "description": "Unique identifier for a given Policy."
        }
      },
      "required": ["organizationId", "policyId"]
    },
    "v1GetPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/v1Policy",
          "description": "Object that codifies rules defining the actions that are permissible within an Organization."
        }
      },
      "required": ["policy"]
    },
    "v1GetPrivateKeyRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "privateKeyId": {
          "type": "string",
          "description": "Unique identifier for a given Private Key."
        }
      },
      "required": ["organizationId", "privateKeyId"]
    },
    "v1GetPrivateKeyResponse": {
      "type": "object",
      "properties": {
        "privateKey": {
          "$ref": "#/definitions/v1PrivateKey",
          "description": "Cryptographic public/private key pair that can be used for cryptocurrency needs or more generalized encryption."
        }
      },
      "required": ["privateKey"]
    },
    "v1GetPrivateKeysRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "v1GetPrivateKeysResponse": {
      "type": "object",
      "properties": {
        "privateKeys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1PrivateKey"
          },
          "description": "A list of Private Keys."
        }
      },
      "required": ["privateKeys"]
    },
    "v1GetUserRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        }
      },
      "required": ["organizationId", "userId"]
    },
    "v1GetUserResponse": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/v1User",
          "description": "Web and/or API user within your Organization."
        }
      },
      "required": ["user"]
    },
    "v1GetUsersRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        }
      },
      "required": ["organizationId"]
    },
    "v1GetUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1User"
          },
          "description": "A list of Users."
        }
      },
      "required": ["users"]
    },
    "v1GetWhoamiRequest": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization. If the request is being made by a WebAuthN user and their Sub-Organization ID is unknown, this can be the Parent Organization ID; using the Sub-Organization ID when possible is preferred due to performance reasons."
        }
      },
      "required": ["organizationId"]
    },
    "v1GetWhoamiResponse": {
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Unique identifier for a given Organization."
        },
        "organizationName": {
          "type": "string",
          "description": "Human-readable name for an Organization."
        },
        "userId": {
          "type": "string",
          "description": "Unique identifier for a given User."
        },
        "username": {
          "type": "string",
          "description": "Human-readable name for a User."
        }
      },
      "required": ["organizationId", "organizationName", "userId", "username"]
    },
    "v1HashFunction": {
      "type": "string",
      "enum": [
        "HASH_FUNCTION_NO_OP",
        "HASH_FUNCTION_SHA256",
        "HASH_FUNCTION_KECCAK256",
        "HASH_FUNCTION_NOT_APPLICABLE"
      ]
    },
    "v1Intent": {
      "type": "object",
      "properties": {
        "createOrganizationIntent": {
          "$ref": "#/definitions/v1CreateOrganizationIntent"
        },
        "createAuthenticatorsIntent": {
          "$ref": "#/definitions/v1CreateAuthenticatorsIntent"
        },
        "createUsersIntent": {
          "$ref": "#/definitions/v1CreateUsersIntent"
        },
        "createPrivateKeysIntent": {
          "$ref": "#/definitions/v1CreatePrivateKeysIntent"
        },
        "signRawPayloadIntent": {
          "$ref": "#/definitions/v1SignRawPayloadIntent"
        },
        "createInvitationsIntent": {
          "$ref": "#/definitions/v1CreateInvitationsIntent"
        },
        "acceptInvitationIntent": {
          "$ref": "#/definitions/v1AcceptInvitationIntent"
        },
        "createPolicyIntent": {
          "$ref": "#/definitions/v1CreatePolicyIntent"
        },
        "disablePrivateKeyIntent": {
          "$ref": "#/definitions/v1DisablePrivateKeyIntent"
        },
        "deleteUsersIntent": {
          "$ref": "#/definitions/v1DeleteUsersIntent"
        },
        "deleteAuthenticatorsIntent": {
          "$ref": "#/definitions/v1DeleteAuthenticatorsIntent"
        },
        "deleteInvitationIntent": {
          "$ref": "#/definitions/v1DeleteInvitationIntent"
        },
[...]
