API_PUBLIC_KEY="<API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<API Private Key>"
BASE_URL="https://coordinator-beta.turnkey.io"
ORGANIZATION_ID="<Organization ID>"
PRIVATE_KEY_ID_1="<(Crypto) Private key ID>"
PRIVATE_KEY_ID_2="<(Crypto) Private key ID>"
PRIVATE_KEY_ID_3="<(Crypto) Private key ID>"
INFURA_KEY="<Infura API Key>"
