EXPO_PUBLIC_TURNKEY_ORGANIZATION_ID=<your-turnkey-org-id>
EXPO_PUBLIC_TURNKEY_API_BASE_URL=https://api.turnkey.com
EXPO_PUBLIC_TURNKEY_AUTH_PROXY_CONFIG_ID=<your-auth-proxy-config-id>
EXPO_PUBLIC_WC_API_KEY=<your-walletconnect-pay-api-key>
