API_PUBLIC_KEY="<API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<API Private Key>"
BASE_URL="https://coordinator-beta.turnkey.io"
ORGANIZATION_ID="<Organization UUID>"
PRIVATE_KEY_ID="<(Crypto) Private key ID>"
PRIVATE_KEY_ADDRESS="<0x...>"
