@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-light: oklch(0.547 0.2389 266.82);
  --color-primary-dark: oklch(0.547 0.2389 266.82);
  --color-button-light: rgb(255, 255, 255);
  --color-button-dark: oklch(0.15 0 0);
  --color-modal-background-light: oklch(0.9758 0.0057 264.53);
  --color-modal-background-dark: oklch(0.2532 0.0056 285.99);
  --color-modal-text-light: oklch(0 0.1 41);
  --color-modal-text-dark: rgb(255, 255, 255);
  --color-icon-background-light: oklch(0.928 0.006 264.531);
  --color-icon-background-dark: oklch(0.3222 0.0053 286.1);
  --color-icon-text-light: oklch(0.6066 0 0);
  --color-icon-text-dark: oklch(0.7174 0.0029 286.32);

  --animate-shake: shake 250ms ease-in-out;
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
  }
}

@layer base {
  input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px var(--color-button-light) !important;
    -webkit-text-fill-color: var(--color-modal-text-light) !important;
    caret-color: var(--color-modal-text-light);
    transition: background-color 5000s ease-in-out 0s;
  }

  .dark input:-webkit-autofill,
  html.dark input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px var(--color-button-dark) !important;
    -webkit-text-fill-color: var(--color-modal-text-dark) !important;
    caret-color: var(--color-modal-text-dark);
  }
}

@layer components {
  /* A nice scrollbar that conforms to light/dark mode */
  .tk-scrollbar {
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--color-icon-text-light)
      var(--color-icon-background-light); /* thumb and track (light mode) */
  }
  /* For WebKit browsers */
  .tk-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .tk-scrollbar::-webkit-scrollbar-track {
    background: var(--color-icon-background-light);
  }
  .tk-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-icon-text-light);
    border-radius: 10px;
    border: 2px solid var(--color-icon-background-light);
  }

  /* Dark mode styles */
  .dark .tk-scrollbar {
    scrollbar-color: var(--color-icon-text-dark)
      var(--color-icon-background-dark); /* thumb and track (dark mode) */
  }
  .dark .tk-scrollbar::-webkit-scrollbar-track {
    background: var(--color-icon-background-dark);
  }
  .dark .tk-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-icon-text-dark);
    border: 2px solid var(--color-icon-background-dark);
  }
}
