API_PUBLIC_KEY=""
API_PRIVATE_KEY=""
NEXT_PUBLIC_ORGANIZATION_ID=""
NEXT_PUBLIC_BASE_URL="https://api.turnkey.com"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_GOOGLE_IOS_CLIENT_ID=""
NEXT_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=""