@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../public/fonts/inter/Inter-Regular.woff2?v=3.19")
    format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../public/fonts/inter/Inter-SemiBold.woff2?v=3.19")
    format("woff2");
}

.main {
  max-width: 800px;
  margin: auto;
  font-family: "Inter";
}

.logo {
  display: block;
  margin: 24px auto;
  width: 100px;
}

.input {
  width: 100%;
  margin: 0;
  padding: 10px 16px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(216, 219, 227, 1);
  font-family: "Inter";
}

.label {
  font-family: "Inter";
}

.prompt {
  font-family: "Inter";
  text-align: center;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 16px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  color: white;
  background-color: rgba(43, 47, 51, 1);
  border-color: rgba(63, 70, 75, 1);
  font-family: "Inter";
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.table {
  word-break: break-all;
}

.td {
  /* From https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  padding: 10px;
}

.th {
  border-bottom: 1px solid #4d4d4d;
  padding: 10px;
}
