# Turnkey – root user (used only for policy creation)
TURNKEY_API_PRIVATE_KEY=
TURNKEY_API_PUBLIC_KEY=
TURNKEY_BASE_URL=https://api.turnkey.com
TURNKEY_ORGANIZATION_ID=

# Turnkey – non-root user (used for signing)
NONROOT_API_PRIVATE_KEY=
NONROOT_API_PUBLIC_KEY=

# The non-root user ID (for the policy consensus rule)
NONROOT_USER_ID=

# Address or key ID to sign with
SIGN_WITH=

# RPC endpoint (e.g. https://base-mainnet.infura.io/v3/<YOUR_KEY>)
RPC_URL=

# vaults.fyi
VAULTS_FYI_API_KEY=
