API_PUBLIC_KEY="<Turnkey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<Turnkey API Private Key>"
BASE_URL="https://api.turnkey.com"
ORGANIZATION_ID="<Turnkey organization ID>"
SIGN_WITH="<Turnkey Wallet Account Address, Private Key Address, or Private Key ID>"
PRIVATE_KEY_ID="<Turnkey (crypto) private key ID>" # if you leave it blank, we'll create one for you via calling the Turnkey API
# This is the community Infura key. Replace it with your own if you're using this demo for real!
INFURA_KEY="84842078b09946638c03157f83405213"
