EXPO_PUBLIC_TURNKEY_ORGANIZATION_ID=""
EXPO_PUBLIC_TURNKEY_API_BASE_URL="https://api.turnkey.com"
EXPO_PUBLIC_TURNKEY_AUTH_PROXY_URL=""
EXPO_PUBLIC_TURNKEY_AUTH_PROXY_CONFIG_ID=""
EXPO_PUBLIC_APP_SCHEME="oauthcrossplatform"

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=""