API_PUBLIC_KEY="<Turnkey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<Turnkey API Private Key>"
NEXT_PUBLIC_ORGANIZATION_ID="<Turnkey organization ID>"
NEXT_PUBLIC_BASE_URL="https://api.turnkey.com"
X_CLIENT_ID="<Your X client ID"
PORT=3456 # if you redirect to a page running on this port ensure to include the port in your redirect URI on X and here
OAUTH2_CREDENTIAL_ID="<Your OAuth 2.0 credential ID, this is obtained by running 'pnpm run credential-upload -- <client_secret>' >"
X_REDIRECT_URI="<Your redirect URI set in X's developer portal>"