NEXT_PUBLIC_AUTH_PROXY_ID="<Turnkey auth proxy config ID>"
NEXT_PUBLIC_BASE_URL="https://api.turnkey.com"
NEXT_PUBLIC_OAUTH_REDIRECT_URI="http://127.0.0.1:3456"
NEXT_PUBLIC_ORGANIZATION_ID="<Turnkey organization ID>"
NEXT_PUBLIC_X_CLIENT_ID="<Your X client ID>"
PORT=3456 # port must match the one in NEXT_PUBLIC_OAUTH_REDIRECT_URI