TURNKEY_API_PUBLIC_KEY="<Turnkey API Public Key (that starts with 02 or 03)>"
TURNKEY_API_PRIVATE_KEY="<Turnkey API Private Key>"
TURNKEY_BASE_URL="https://api.turnkey.com"
TURNKEY_ORGANIZATION_ID="<Turnkey organization ID>"

SIGN_WITH="<Turnkey wallet Ethereum address 0x...>"

# Only needed for createPolicy.ts (root user creates a policy for a non-root user)
NONROOT_USER_ID="<userId of the non-root user to authorize>"
