API_PUBLIC_KEY="<Turnkey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<Turnkey API Private Key>"
BASE_URL="https://coordinator-beta.turnkey.io"
ORGANIZATION_ID="<Turnkey organization ID>"
PRIVATE_KEY_ID="<(optional) Turnkey (crypto) Private Key ID>"
