body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/grid.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  padding-bottom: 0rem;
  gap: 60px;
  position: relative;
}

.authConfigContainer {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

.authConfigCard {
  min-width: 400px;
  background: var(--Greyscale-20, #f5f7fb);
  padding: 32px;
  border-radius: 8px;
  width: 542px;
  height: 584px;
  border: 1px solid var(--Greyscale-100, #ebedf2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.configTitle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 16px;
}

.toggleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggleRow {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggleSocialRow {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.toggleSocialIndividualRow {
  background-color: var(--Greyscale-20, #f5f7fb);
  display: flex;
  margin-left: 16px;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-between;
  align-items: center;
}

.copyConfigButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #666;
  font-size: 14px;
  margin-top: auto;
  padding: 8px 16px;
}
.copyConfigText {
  padding-left: 4px;
}

.authComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.success {
  justify-items: center;
}

.iconSmall {
  width: 18px;
  height: 18px;
}

.socialContainer {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
}

.sonner-toaster {
  font-family: "Inter";
  font-size: 14px;
  z-index: 9999;
  pointer-events: none;
  background-color: var(--Greyscale-20, #f5f7fb);
}

.sonner-toaster > div {
  pointer-events: auto;
}
