.authCardLoading {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  min-width: 375px;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
  background: var(--Greyscale-20, #f5f7fb);
  border: 1px solid var(--Greyscale-100, #ebedf2);
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.verifyingText {
  font-weight: bold;
  font-size: 18px;
  color: var(--Greyscale-900, #2b2f33);
  margin-bottom: 20px;
  text-align: center;
}

.loadingWrapper {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.defaultLoader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.circularProgress {
  position: absolute;
  color: #4c48ff;
}

.oauthIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.authCard {
  font-family: Inter;
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 375px;
  margin: 0 auto;
  padding: 20px;
  background: var(--Greyscale-20, #f5f7fb);
  border: 1px solid var(--Greyscale-100, #ebedf2);
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.authCard h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

/* Form */
.authForm {
  margin-bottom: 16px;
}

.inputGroup {
  margin-bottom: 12px;
}

.authButton {
  padding: 10px 16px 10px 16px;
  gap: 8px;
  color: var(--Greyscale-900, #2b2f33);
  width: 100%;
  font-size: 1rem;
  background: #ffffff;
  border: 1px solid var(--Greyscale-400, #a2a7ae);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.authButton:hover {
  background-color: #f5f5f5;
}

.authButton:disabled {
  color: var(--Greyscale-700, #a2a7ae);
  background: #ffffff;
  border-color: var(--Greyscale-100, #f5f7fb);
  cursor: default;
}

/* Separator */
.separator {
  text-align: center;
  margin: 16px 0;
  position: relative;
}

.separator span {
  font-family: Inter;
  color: var(--Greyscale-500, #868c95);
  padding: 0 10px;
  position: relative;
  z-index: 0;
  font-size: 0.75rem;
  background: var(--Greyscale-20, #f5f7fb);
  color: #666;
}

.separator::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--Greyscale-100, #ebedf2);
  z-index: 0;
}
.tos {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--Greyscale-500, #868c95);
  margin-top: 20px;
}

.resendCode {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--Greyscale-500, #868c95);
}

.resendCodeBold {
  color: var(--Greyscale-900, #2b2f33);
  font-weight: 700;
  cursor: pointer;
}

.tosBold {
  color: var(--Greyscale-900, #2b2f33);
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.socialButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.poweredBy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: var(--Greyscale-500, #868c95);
  margin-top: 16px;
  cursor: pointer;
}

.poweredBy span {
  position: relative;
}

.phoneInput {
  margin-top: 12px;
  margin-bottom: 12px;
}

.errorText {
  min-height: 16px;
  text-align: center;
  margin-top: 12px;
  color: #ff4c4c;
  font-size: 12px;
}

.passkeyIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.row {
  display: flex;
  align-items: center;
}

.rowIcon {
  padding-right: 8px;
}

.noPasskeyLink {
  color: var(--Blue-500, #4c48ff);
  font-size: 0.9rem;
  margin-top: 8px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: inline-block;
  transition: color 0.2s ease;
}
.noPasskeyLink:hover {
  color: #000000;
}
.passkeyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.socialButtonContainerInline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px; /* Space between buttons */
}

.socialButtonContainerStacked {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
