.facebookButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 10px;
  color: #3b5998;
  font-size: 13.5px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #dcdcdc;
  transition: background-color 0.3s ease;
}

.facebookButton:hover {
  background-color: #f1f8ff;
  border-color: #d0def0;
}

.buttonText {
  color: #000000;
  flex-grow: 1;
  text-align: center;
  font-family: "Inter", sans-serif;
}
