.reactInternationalPhoneCountrySelector {
    position: relative;
  }
  
  .reactInternationalPhoneCountrySelectorButton {
    display: flex;
    height: var(--react-international-phone-height, 36px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid var(--react-international-phone-country-selector-border-color, var(--react-international-phone-border-color, gainsboro));
    margin: 0;
    appearance: button;
    -webkit-appearance: button;
    background-color: var(--react-international-phone-country-selector-background-color, var(--react-international-phone-background-color, white));
    cursor: pointer;
    text-transform: none;
    user-select: none;
  }
  
  .reactInternationalPhoneCountrySelectorButton:hover {
    background-color: var(--react-international-phone-country-selector-background-color-hover, whitesmoke);
  }
  
  .reactInternationalPhoneCountrySelectorButtonHideDropdown {
    cursor: auto;
  }
  
  .reactInternationalPhoneCountrySelectorButtonHideDropdown:hover {
    background-color: transparent;
  }
  
  .reactInternationalPhoneCountrySelectorButtonContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reactInternationalPhoneFlagEmoji {
    margin: 0 4px;
  }
  
  .reactInternationalPhoneFlagEmojiDisabled {
    opacity: 0.75;
  }
  
  .reactInternationalPhoneDropdownArrow {
    border-top: var(--react-international-phone-country-selector-arrow-size, 4px) solid var(--react-international-phone-country-selector-arrow-color, #777);
    border-right: var(--react-international-phone-country-selector-arrow-size, 4px) solid transparent;
    border-left: var(--react-international-phone-country-selector-arrow-size, 4px) solid transparent;
    margin-right: 4px;
    transition: all 0.1s ease-out;
  }
  
  .reactInternationalPhoneDropdownArrowActive {
    transform: rotateX(180deg);
  }
  
  .reactInternationalPhoneDropdownArrowDisabled {
    border-top-color: var(--react-international-phone-disabled-country-selector-arrow-color, #999);
  }
  
  .reactInternationalPhoneCountrySelectorButtonDisabled {
    background-color: var(--react-international-phone-disabled-country-selector-background-color, var(--react-international-phone-disabled-background-color, whitesmoke));
    cursor: auto;
  }
  
  .reactInternationalPhoneCountrySelectorButtonDisabled:hover {
    background-color: var(--react-international-phone-disabled-country-selector-background-color, var(--react-international-phone-disabled-background-color, whitesmoke));
  }
  
  .reactInternationalPhoneCountrySelectorDropdown {
    position: absolute;
    z-index: 1;
    top: var(--react-international-phone-dropdown-top, 44px);
    left: var(--react-international-phone-dropdown-left, 0);
    display: flex;
    width: 300px;
    max-height: 200px;
    flex-direction: column;
    padding: 4px 0;
    margin: 0;
    background-color: var(--react-international-phone-dropdown-item-background-color, var(--react-international-phone-background-color, white));
    box-shadow: var(--react-international-phone-dropdown-shadow, 2px 2px 16px rgba(0, 0, 0, 0.25));
    color: var(--react-international-phone-dropdown-item-text-color, var(--react-international-phone-text-color, #222));
    list-style: none;
    overflow-y: scroll;
  }
  
  .reactInternationalPhoneCountrySelectorDropdownPreferredListDivider {
    height: 1px;
    border: none;
    margin: var(--react-international-phone-dropdown-preferred-list-divider-margin, 0);
    background: var(--react-international-phone-dropdown-preferred-list-divider-color, var(--react-international-phone-border-color, gainsboro));
  }
  
  .reactInternationalPhoneCountrySelectorDropdownListItem {
    display: flex;
    min-height: var(--react-international-phone-dropdown-item-height, 28px);
    box-sizing: border-box;
    align-items: center;
    padding: 2px 8px;
  }
  
  .reactInternationalPhoneCountrySelectorDropdownListItemFlagEmoji {
    margin-right: 8px;
  }
  
  .reactInternationalPhoneCountrySelectorDropdownListItemCountryName {
    overflow: hidden;
    margin-right: 8px;
    font-size: var(--react-international-phone-dropdown-item-font-size, 14px);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .reactInternationalPhoneCountrySelectorDropdownListItemDialCode {
    color: var(--react-international-phone-dropdown-item-dial-code-color, gray);
    font-size: var(--react-international-phone-dropdown-item-font-size, 14px);
  }
  
  .reactInternationalPhoneCountrySelectorDropdownListItem:hover {
    background-color: var(--react-international-phone-selected-dropdown-item-background-color, whitesmoke);
    cursor: pointer;
  }
  
  .reactInternationalPhoneCountrySelectorDropdownListItemSelected,
  .reactInternationalPhoneCountrySelectorDropdownListItemFocused {
    background-color: var(--react-international-phone-selected-dropdown-item-background-color, whitesmoke);
    color: var(--react-international-phone-selected-dropdown-item-text-color, #222);
  }
  
  .reactInternationalPhoneCountrySelectorDropdownListItemSelected .reactInternationalPhoneCountrySelectorDropdownListItemDialCode,
  .reactInternationalPhoneCountrySelectorDropdownListItemFocused .reactInternationalPhoneCountrySelectorDropdownListItemDialCode {
    color: var(--react-international-phone-selected-dropdown-item-dial-code-color, gray);
  }
  
  .reactInternationalPhoneDialCodePreview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    border: 1px solid var(--react-international-phone-dial-code-preview-border-color, gainsboro);
    margin-right: -1px;
    background-color: var(--react-international-phone-dial-code-preview-background-color, white);
    color: var(--react-international-phone-dial-code-preview-text-color, #222);
    font-size: var(--react-international-phone-dial-code-preview-font-size, 13px);
  }
  
  .reactInternationalPhoneDialCodePreviewDisabled {
    background-color: var(--react-international-phone-dial-code-preview-disabled-background-color, whitesmoke);
    color: var(--react-international-phone-dial-code-preview-disabled-text-color, #666);
  }
  
  .reactInternationalPhoneInputContainer {
    display: flex;
  }
  
  .reactInternationalPhoneInputContainer .reactInternationalPhoneCountrySelectorButton {
    border-radius: var(--react-international-phone-border-radius, 4px);
    margin-right: -1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .reactInternationalPhoneInputContainer .reactInternationalPhoneInput {
    overflow: visible;
    height: var(--react-international-phone-height, 36px);
    box-sizing: border-box;
    padding: 0 8px;
    border: 1px solid var(--react-international-phone-border-color, gainsboro);
    border-radius: var(--react-international-phone-border-radius, 4px);
    margin: 0;
    background-color: var(--react-international-phone-background-color, white);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: var(--react-international-phone-text-color, #222);
    font-family: inherit;
    font-size: var(--react-international-phone-font-size, 13px);
  }
  
  .reactInternationalPhoneInputContainer .reactInternationalPhoneInput:focus {
    outline: none;
  }
  
  .reactInternationalPhoneInputContainer .reactInternationalPhoneInputDisabled {
    background-color: var(--react-international-phone-disabled-background-color, whitesmoke);
    color: var(--react-international-phone-disabled-text-color, #666);
  }
  