@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../public/fonts/inter/Inter-Regular.woff2?v=3.19")
    format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../public/fonts/inter/Inter-SemiBold.woff2?v=3.19")
    format("woff2");
}

.main {
  display: flex;
  justify-content: center; /* Centers the authComponent */
  align-items: center;
  padding: 6rem;
  gap: 60px;
  position: relative; /* Allows absolute positioning for left-aligned card */
}

.authConfigContainer {
  position: absolute;
  left: 0; /* Positions the card to the far left */
  display: flex;
  justify-content: flex-start;
}

.authConfigCard {
  background: var(--Greyscale-20, #F5F7FB);
  padding: 16px;
  border-radius: 8px;
  width: 552px;
  height: 768px;
  border: 1px solid var(--Greyscale-100, #EBEDF2);
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.configTitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
}

.toggleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.toggleRow {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.copyConfigButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #666;
  font-size: 14px;
  margin-top: auto;
  padding: 8px 16px;
}
.copyConfigText {
  padding-left: 4px;
}

.authComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.success {
  justify-items: center;
}
